.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 16px;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth effect */
}

.product-image:hover {
  transform: scale(1.1); /* Increase size to 110% on hover */
}

.product-details {
  flex-grow: 1;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-description {
  font-size: 16px;
  color: #444;
  margin-bottom: 16px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
}

.buy-button {
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #0056b3;
}

.buy-button:active {
  background-color: #004699;
}
